@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'poppins'  , sans-serif;
    color: #f3f3f6
  }

  .header-container{
   height: 100vh;
   width: 100vw;
   background-color: rgb(122, 64, 64); 
   background-image: url("img/ine.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   display: flex;
   flex-direction: column;


  }